.view-book-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.book-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p {
    margin: 5px 0;
    font-size: 16px;
}

strong {
    font-weight: bold;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
.book-image{
    width: 400px;
    height: 500px;
}